body{
    font-family: Arial, sans-serif;
    text-align: center;
}
h1{
    margin-bottom: 20px;
}

.container{
    width:306px;
    margin:0 auto;
}

.square{
    width:100px;
    height:100px;
    float:left;
    box-sizing: border-box;
    border:1px solid #ccc;
}

.row::after{
    content:"";
    display: block;
    clear: both;
}