ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: white;
}

li {
  margin: 5px;
}

a {
  display: block;             
  width: 120px;                
  height: 40px;                
  line-height: 40px;          
  text-align: center;         
  font-weight: bold;
  font-size: 17px;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;     
}
a:hover {
  background-color: gray;
}
