body {
  font-family: Arial;
  margin: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 400px;
}

label {
  width: 100px;
}

input, textarea {
  flex: 1;
  padding: 5px;
}

button {
  width: 100%;
  padding: 8px;
  background-color: orange;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}
