:root {
  --size: 320px;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0;
  background: #f5f5f5;
}

h2 {
  margin: 0 0 12px 0;
  font-size: 18px;
}


.chess-board {
  width: var(--size);
  height: var(--size);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 2px solid #222;
}


.cell {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.cell.white {
  background-color: #fff;
}

.cell.black {
  background-color: #222;
}




@media (max-width: 360px) {
  :root { --size: 280px; }
}
